extends layout

block content
    div(
        class="u-isVisuallyHidden",
        data-game-id=gameId,
        data-initial-state=initialState
    )
    .wrapper
        include partials/_stage.pug

        div(class='js-messageView') empty
        button(class='js-sendBtn') home view

    script(src='/script/bundle.js')
