extends layout

block content

    div(class="u-isVisuallyHidden js-playerId", data-player-id=playerId)
    div= connectedPlayers
    div(class="stereo")
        div(class='gameList js-gameListView') game list
        div(class='playerList js-playerListView', data-connected-players=connectedPlayers)

    div(class="stereo")
        button(class="btn") create a game
        button(class="btn") join a game

    div(class='js-messageView') empty
    button(class='js-sendBtn') home view
