extends layout

block content

    .wrapper
        div
            h1.hdg Login
        .wrapper
            ul(class="vlist")
                li
                    a(href="connect/google") Sign in with Google
                li
                    a(href="connect/github") Sign in with GitHub

