extends layout

block content

    .wrapper
        div
            h1.hdg Login
        .wrapper
            ul(class="vlist")
                li
                    a(href="auth/google") Sign in with Google
                li
                    a(href="auth/github") Sign in with GitHub

